body{
    background-image: url(pic.png);
    background-repeat: no-repeat;
}

   #block{
  width: 400px;
  height: 100px;
  font-size: 70px;
 
  font-weight: bold;

  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  position: absolute;
  top : 50%;
  left :38%
  
  

}

#king{
  width: 400px;
  height: 100px;
  color: white;
  font-size: 55px;

  font-weight: bold;

  background: linear-gradient(red,  green,  rgb(0, 153, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  position: absolute;
  top : 65%;
  left : 35%
}


#day{
  width: 95px;
  height: 55px;
  color: white;
  font-size: 45px;text-align: center;

  font-weight: bold;

  background: linear-gradient(red,  green, orange, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 5px solid;

  border-image: conic-gradient(
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    indigo,
    violet,
    pink,
    brown,
    lime,
    gold
  ) 1;

  position: absolute;
  top : 58%;
  left : 63%
  
}
